[run]
source =
    api
    auth
    models
    schemas
    services
    repository
    middleware
    utils
    config
    main
omit =
    app/workers/*
    api/web.py
    migrations/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    if TYPE_CHECKING:
show_missing = true
fail_under = 70
